<launch>
  <!--<node pkg="static_avoidance" name="static_avoidance" type="static_avoidance" output="screen"/>-->
  <node pkg="static_avoidance" name="u_turn" type="u_turn" output="screen"/>

  <node pkg="serial_example" name="serial_read_and_write_node" type="serial_read_and_write_node" />

<!--
  <node pkg="urg_node" name="urg_node" type="urg_node" output="screen">
    <param name="ip_address" value="192.168.0.11"/>
  </node>
-->
  <include file="$(find obstacle_detector)/launch/obstacle_urg_node_t.launch" clear_params="false"/>

</launch>
